h1 {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    background-color: lightsalmon;
    border: black 5px solid;
    padding: 5px;
    padding-top: 10px;
    max-width: 70%;
    margin:auto;
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 10px black solid;
    }

img {
    max-width: 90%;
    height: auto;
}

div {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}